<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>ProRazrab</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
  </head>

  <body class="">
    <div id="page" class="site">
      <%- include("components/header") %>

      <div id="content" class="site-content">
        <section class="top-v5">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-12 align-self-center">
                <div class="top-left-v5">
                  <div class="ot-heading">
                    <span>// Сделаем сайты Для любых Целей.</span>
                    <h2 class="main-heading">Сайты Различных Категорий.</h2>
                  </div>
                  <p class="sub-text">
                    Разработка под любой бюджет | благодоря гибкости которая
                    экономит бюджет.
                  </p>
                  <div class="video-popup style-3">
                    <div class="btn-inner">
                      <a
                        class="btn-play"
                        href="https://www.youtube.com/watch?v=UKwKmkZfl-k"
                      >
                        <i class="flaticon-play"></i>
                        <span class="circle-1"></span>
                        <span class="circle-2"></span>
                      </a>
                    </div>
                    <span>ЗАЧЕМ НУЖЕН САЙТ</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12">
                <div class="top-right-v5">
                  <img src="images/big-logo-home2.png" alt="logo" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="service-v5">
          <div class="container">
            <div class="row mt--70 justify-content-center">
              <div class="col-lg-4 col-md-6">
                <div class="serv-box s1 v5 bg-s1 md-mb-30">
                  <a href="it-services" class="overlay"></a>
                  <div class="icon-main">
                    <span class="flaticon-tablet"></span>
                  </div>
                  <div class="content-box">
                    <h5>Используемые Инструменты</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="serv-box s1 v5 bg-s2 md-mb-30">
                  <a href="web-development" class="overlay"></a>
                  <div class="icon-main">
                    <span class="flaticon-report"></span>
                  </div>
                  <div class="content-box">
                    <h5>Рассчитать Стоимость</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="serv-box s1 v5 bg-s3">
                  <a href="mobile-development" class="overlay"></a>
                  <div class="icon-main"><span class="flaticon-ui"></span></div>
                  <div class="content-box">
                    <h5>Вывод Проекта В Интернет</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-110"></div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <div class="ot-heading">
                  <span>// НАШИ УСЛУГИ</span>
                  <h2 class="main-heading">
                    Предлагаемые
                    <br />
                    IT Услуи
                  </h2>
                </div>
              </div>
            </div>
            <div class="space-30"></div>
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-30">
                <div class="icon-box-s2 s2 border-s1 bg bg1 text-center">
                  <div class="icon-main">
                    <span class="flaticon-code"></span>
                  </div>
                  <div class="content-box">
                    <h5><a href="web-development">Web Разработка</a></h5>
                    <p style="text-align: left;">
                      1.Переструктурирования приложения для смежной области.
                      2.Поддержка приложений. 3.Доработка и создание
                      функционала.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-30">
                <div class="icon-box-s2 s2 border-s1 bg bg2 text-center">
                  <div class="icon-main">
                    <span class="flaticon-app"></span>
                  </div>
                  <div class="content-box">
                    <h5>
                      <a href="mobile-development">Mobile Разработка</a>
                    </h5>
                    <p style="text-align: left;">
                      1.Мультиплатформенное мобильное приложение за приемлемую
                      цену.
                      <br />
                      2.Одна База данных, два клиентских Приложений.
                      <br />
                      3.Android, IOS.
                      <br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-30">
                <div class="icon-box-s2 s2 border-s1 bg bg3 text-center">
                  <div class="icon-main">
                    <span class="flaticon-monitor"></span>
                  </div>
                  <div class="content-box">
                    <h5><a href="web-development">UI/UX-Дизайн</a></h5>
                    <p style="text-align: left;">
                      1.Создание оптимальной навигации для пользователей.
                      <br />
                      2.Проектирование взаимодействия с клиентом.
                      <br />
                      3.Оптимальный Цвет и Типография.
                      <br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-30 mb-md-0">
                <div class="icon-box-s2 s2 border-s1 bg bg4 text-center">
                  <div class="icon-main">
                    <span class="flaticon-browser"></span>
                  </div>
                  <div class="content-box">
                    <h5>
                      <a href="it-services">Оптимизация & Тестирование</a>
                    </h5>
                    <p style="text-align: left;">
                      1.Проведение тестирования.
                      <br />
                      2.Улучшение производительности.
                      <br />
                      3.Вывод проекта в интернет.
                      <br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-30 mb-md-0">
                <div class="icon-box-s2 s2 border-s1 bg bg5 text-center">
                  <div class="icon-main">
                    <span class="flaticon-report-1"></span>
                  </div>
                  <div class="content-box">
                    <h5><a href="it-services">IT Консутирование</a></h5>
                    <p style="text-align: left;">
                      1.Подберем лучшее решения для вас.
                      <br />
                      2.Поможем вам сориентироваться.
                      <br />
                      3.Расскажем всё за и против.
                      <br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="icon-box-s2 s2 border-s1 bg bg6 text-center">
                  <div class="icon-main">
                    <span class="flaticon-best"></span>
                  </div>
                  <div class="content-box">
                    <h5><a href="it-services">Выделенные ресурсы</a></h5>
                    <p style="text-align: left;">
                      1.Аренда серверов.
                      <br />
                      2.Разработаем скрипты автоматизации.
                      <br />
                      3.Поддержка вашего ресурса.
                      <br />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="padding-half bg-light-1">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="partners">
                  <div class="owl-carousel owl-theme home-client-carousel">
                    <div class="partners-slide">
                      <a href="#" class="client-logo">
                        <figure class="partners-slide-inner">
                          <img
                            class="partners-slide-image"
                            src="images/client1.svg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </div>
                    <div class="partners-slide">
                      <a href="#" class="client-logo">
                        <figure class="partners-slide-inner">
                          <img
                            class="partners-slide-image"
                            src="images/client2.png"
                            alt=""
                          />
                        </figure>
                      </a>
                    </div>
                    <div class="partners-slide">
                      <a href="#" class="client-logo">
                        <figure class="partners-slide-inner">
                          <img
                            class="partners-slide-image"
                            src="images/client3.svg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </div>
                    <div class="partners-slide">
                      <a href="#" class="client-logo">
                        <figure class="partners-slide-inner">
                          <img
                            class="partners-slide-image"
                            src="images/client4.svg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </div>
                    <div class="partners-slide">
                      <a href="#" class="client-logo">
                        <figure class="partners-slide-inner">
                          <img
                            class="partners-slide-image"
                            src="images/client5.svg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="about-v5">
          <div class="overlay overlay-image-about5"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-v5">
                  <div class="ot-heading">
                    <span>// Диверсификация. Прибыль. Стабильность.</span>
                    <h2 class="main-heading">Расширьте Ваши Горизонты</h2>
                  </div>
                  <div class="tech-wrap">
                    <a class="tech-box" href="it-services">
                      <div class="icon-main">
                        <span class="flaticon-php"></span>
                      </div>
                    </a>
                    <a class="tech-box" href="it-services">
                      <div class="icon-main">
                        <span class="flaticon-electron"></span>
                      </div>
                    </a>
                    <a class="tech-box" href="it-services">
                      <div class="icon-main">
                        <span class="flaticon-java"></span>
                      </div>
                    </a>
                    <a class="tech-box" href="it-services">
                      <div class="icon-main">
                        <span class="flaticon-css"></span>
                      </div>
                    </a>
                  </div>
                  <h5>Разработка универсальных проектов</h5>
                  <p>
                    Мы поможем Развитию вашего бизнеса в интернете. Веб-бизнес
                    имеет много преимуществ. Повышенная конкурентоспособность,
                    Увеличение доходов, Диверсификация. Развитие бизнеса может
                    помочь компании диверсифицировать свои предложения продуктов
                    или услуг, что может снизить риски и повысить стабильность.
                  </p>
                  <div class="ot-button">
                    <a href="it-services" class="btn-details">
                      <i class="flaticon-right-arrow-1"></i>
                      РАССЧИТАТЬ ПРОЕКТ
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-v5">
                  <img src="images/image1-home5.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="technology-v5">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="technology-v3-left">
                  <div class="ot-heading">
                    <span>// УПРАВЛЕНИЕ И РАЗРАБОТКА</span>
                    <h2 class="main-heading">
                      У Вас появится Возможность Управлять Своим проектом
                    </h2>
                  </div>
                  <div class="space-5"></div>
                  <p>
                    Существует несколько ключевых шагов, связанных с созданием
                    сайта, вам достаточно будет определить только свои цели, а
                    реализация на нас.
                  </p>
                  <div class="space-20"></div>
                  <div class="et-progress">
                    <div class="ot-progress">
                      <div class="overflow">
                        <span class="pname f-left">mobile-Разработка</span>
                        <span class="ppercent f-right">70%</span>
                      </div>
                      <div class="iprogress">
                        <div class="progress-bar" data-percent="70%"></div>
                      </div>
                    </div>
                    <div class="ot-progress">
                      <div class="overflow">
                        <span class="pname f-left">web-Разработка</span>
                        <span class="ppercent f-right">90%</span>
                      </div>
                      <div class="iprogress">
                        <div class="progress-bar" data-percent="90%"></div>
                      </div>
                    </div>
                    <div class="ot-progress">
                      <div class="overflow">
                        <span class="pname f-left">ui/ux-Дизайн</span>
                        <span class="ppercent f-right">60%</span>
                      </div>
                      <div class="iprogress">
                        <div class="progress-bar" data-percent="60%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 md-mt-30">
                <div class="row">
                  <div class="col-md-6">
                    <a class="ot-image-box v3 st1" href="it-services">
                      <div class="overlay">
                        <h4>Преимущества</h4>
                      </div>
                      <img src="images/image-box1.jpg" alt="Our Mission" />
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a class="ot-image-box v3 st2" href="it-services">
                      <div class="overlay">
                        <h4>Клиенты</h4>
                      </div>
                      <img src="images/image-box2.jpg" alt="Our Vision" />
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a class="ot-image-box v3 st3" href="it-services">
                      <div class="overlay">
                        <h4>Консультация</h4>
                      </div>
                      <img src="images/image-box3.jpg" alt="Our Philosophy" />
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a class="ot-image-box v3 st4 mb-0" href="it-services">
                      <div class="overlay">
                        <h4>Цены</h4>
                      </div>
                      <img src="images/image-box4.jpg" alt="Our Strategy" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-map-dots">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="ot-heading text-center">
                  <span>// наши клиенты</span>
                  <h2 class="main-heading">
                    Лучшие пожелания
                    <br />
                    от наших клиентов
                  </h2>
                </div>
              </div>
            </div>
            <div class="space-35"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="ot-testimonials">
                  <div
                    class="owl-carousel owl-theme testimonial-inner ot-testimonials-slider"
                  >
                    <div class="testi-item">
                      <div class="layer1"></div>
                      <div class="layer2">
                        <div class="t-head flex-middle">
                          <img
                            src="images/testi1.png"
                            alt="Emilia Clarke"
                            class="lazyloaded"
                            data-ll-status="loaded"
                          />
                          <div class="tinfo">
                            <h6>PronErgy,</h6>
                            <span>Manager of Company</span>
                          </div>
                        </div>
                        <div class="ttext">
                          "Пожелания стабильного роста компании. Более 90%
                          успешных закрытых проектов. Быстрое выполнение задач.
                          Добрых и отзывчивых клиентов. Достойно выполнять
                          задачи клиентов и вместе с ними достигать того
                          результата, который был описан на бумаге,
                          Трудолюбие!."
                        </div>
                      </div>
                    </div>
                    <div class="testi-item">
                      <div class="layer1"></div>
                      <div class="layer2">
                        <div class="t-head flex-middle">
                          <img
                            src="images/testi2.png"
                            alt="Emilia Clarke"
                            class="lazyloaded"
                            data-ll-status="loaded"
                          />
                          <div class="tinfo">
                            <h6>Moonkle LTD,</h6>
                            <span>Client of Company</span>
                          </div>
                        </div>
                        <div class="ttext">
                          "Все было продуманно до мелочей, качество и цена
                          достойная, можно долго обсуждать на тему, где и как
                          будет лучше для пользователя приложения, но без
                          настоящих специалистов тяжело обойтись, все сделано
                          правильно и кликабельно, еще увидимся!."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer id="site-footer" class="site-footer footer-v2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="images/logo-light.svg" alt="" />
            </div>
          </div>
          <div class="space-60"></div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-world-globe"></i></div>
                <p>Наб. реки Мойки, 22, Санкт-Петербург</p>
                <h6>Наш Адрес</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-envelope"></i></div>
                <p>prorazrab@inbox.ru</p>
                <h6>Наша Почта</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-phone-1"></i></div>
                <p>+7 902 202 45-46</p>
                <h6>Наш Телефон</h6>
              </div>
            </div>
          </div>
          <div class="space-65"></div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-menu">
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="it-services">Услуги</a></li>
                  <li><a href="portfolio">Проекты</a></li>
                  <li><a href="blog">Блог</a></li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
              <div class="space-20"></div>
              <p class="copyright-text v2">
                Copyright © 2020 ProRazrab by ThemeModern. All Rights Reserved.
              </p>
              <div class="space-26"></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- #site-footer -->
    </div>
    <!-- #page -->
    <a id="back-to-top" href="#" class="show">
      <i class="flaticon-up-arrow"></i>
    </a>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    
    
  </body>
</html>
