<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>ProRazrab</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
  </head>

  <body class="royal_preloader">
    <div id="page" class="site">
      <header style="position: relative; background: #0f0a32;"
        id="site-header"
        class="site-header header-overlay sticky-header header-style-2 header-fullwidth"
      >
        <!-- Main Header start -->
        <div class="header-topbar">
          <div class="octf-area-wrap">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <ul class="topbar-info">
                    <li>
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:prorazrab@mail.net">
                        prorazrab@inbox.ru
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-clock"></i>
                      Пн - Сб 8:00 - 19:00
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 text-right">
                  <div class="topbar-right">
                    <ul class="extra-text">
                      <li>
                        Разработка веб приложений По приемлемым ценам !
                        <a href="faq">Цены!</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="octf-main-header">
          <div class="octf-area-wrap">
            <div class="container-fluid octf-mainbar-container">
              <div class="octf-mainbar">
                <div class="octf-mainbar-row octf-row">
                  <div class="octf-col logo-col">
                    <div id="site-logo" class="site-logo">
                      <a href="/">
                        <img
                          src="images/logo-light.svg"
                          alt="prorazrab"
                          class=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="octf-col menu-col">
                    <nav id="site-navigation" class="main-navigation">
                      <ul class="menu nav-style-2">
                        <li>
                          <a href="/">Главная</a>
                        </li>
                        <li class="menu-item-has-children current-menu-item current-menu-ancestor">
                          <a href="#">Разработка</a>
                          <ul class="sub-menu">
                            <li class="current-menu-item"><a href="it-services">It Услуги</a></li>
                            <li>
                              <a href="web-development">Web Разработка</a>
                            </li>
                            <li>
                              <a href="mobile-development">
                                Mobile Разработка
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="faq">Ценообразование</a></li>
                        <li><a href="portfolio">Проекты</a></li>
                        <li><a href="blog">Блог</a></li>
                        <li><a href="contact">Контакты</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="octf-col cta-col text-right">
                    <!-- Call To Action -->
                    <div class="octf-btn-cta hstyle-2">
                      <div class="octf-header-module">
                        <div class="btn-cta-group contact-header">
                          <i class="fas fa-phone"></i>
                          <div class="cinfo-header">
                            <span>Задайте Вопрос?</span>
                            <span class="main-text">
                              <a href="tel:+7 902 202 45-46">
                                +7 902 202 45-46
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="octf-header-module">
                        <div class="btn-cta-group btn-cta-header">
                          <a
                            class="octf-btn octf-btn-third"
                            href="contact"
                          >
                            Обратная Связь
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header_mobile">
          <div class="container">
            <div class="mlogo_wrapper clearfix">
              <div class="mobile_logo">
                <a href="/">
                  <img src="images/logo.svg" alt="prorazrab" />
                </a>
              </div>
              <div id="mmenu_toggle">
                <button></button>
              </div>
            </div>
            <div class="mmenu_wrapper">
              <div class="mobile_nav collapse">
                <ul id="menu-main-menu" class="mobile_mainmenu">
                  <li>
                    <a href="/">Главная</a>
                  </li>
                  <li class="menu-item-has-children current-menu-item current-menu-ancestor">
                    <a href="#">Разработка</a>
                    <ul class="sub-menu">
                      <li class="current-menu-item"><a href="it-services">IT Услуги</a></li>
                      <li><a href="web-development">Web Разработка</a></li>
                      <li>
                        <a href="mobile-development">Mobile Разработка</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="faq">Ценообразование</a></li>
                  <li class="menu-item-has-children">
                    <a href="portfolio">Проекты</a>
                  </li>
                  <li>
                    <a href="blog">Блог</a>
                  </li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div id="content" class="site-content">
        <div class="page-header flex-middle">
          <div class="container">
            <div class="inner flex-middle">
              <h1 class="page-title">IT Услуги</h1>
              <ul id="breadcrumbs" class="breadcrumbs none-style">
                <li><a href="/">Главная</a></li>
                <li class="active">IT Услуги</li>
              </ul>
            </div>
          </div>
        </div>
        <section class="service-page">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-8 mb-4 mb-sm-0">
                <div class="ot-heading mb-0">
                  <span>// НАШИ УСЛУГИ</span>
                  <h2 class="main-heading">
                    Предлагаемые
                    <br />
                    IT Услуги
                  </h2>
                </div>
              </div>
              <div class="col-md-6 col-sm-4 text-sm-right align-self-end">
                <div class="ot-button">
                  <a
                    href="web-development"
                    class="octf-btn octf-btn-primary"
                  >
                    все услуги
                  </a>
                </div>
                <div class="space-10"></div>
              </div>
            </div>
            <div class="space-55"></div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="icon-box-s2 s2 border-s1 bg bg1 text-center">
                    <div class="icon-main">
                      <span class="flaticon-code"></span>
                    </div>
                    <div class="content-box">
                      <h5><a href="web-development">Web Разработка</a></h5>
                      <p style="text-align: left;">
                        1.Переструктурирования приложения для смежной области.
                        2.Поддержка приложений. 3.Доработка и создание
                        функционала.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="icon-box-s2 s2 border-s1 bg bg2 text-center">
                    <div class="icon-main">
                      <span class="flaticon-app"></span>
                    </div>
                    <div class="content-box">
                      <h5>
                        <a href="mobile-development">Mobile Разработка</a>
                      </h5>
                      <p style="text-align: left;">
                        1.Мультиплатформенное мобильное приложение за приемлемую
                        цену.
                        <br />
                        2.Одна База данных, два клиентских Приложений.
                        <br />
                        3.Android, IOS.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="icon-box-s2 s2 border-s1 bg bg3 text-center">
                    <div class="icon-main">
                      <span class="flaticon-monitor"></span>
                    </div>
                    <div class="content-box">
                      <h5><a href="web-development">UI/UX-Дизайн</a></h5>
                      <p style="text-align: left;">
                        1.Создание оптимальной навигации для пользователей.
                        <br />
                        2.Проектирование взаимодействия с клиентом.
                        <br />
                        3.Оптимальный Цвет и Типография.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 mb-md-0">
                  <div class="icon-box-s2 s2 border-s1 bg bg4 text-center">
                    <div class="icon-main">
                      <span class="flaticon-browser"></span>
                    </div>
                    <div class="content-box">
                      <h5>
                        <a href="it-services">Оптимизация & Тестирование</a>
                      </h5>
                      <p style="text-align: left;">
                        1.Проведение тестирования.
                        <br />
                        2.Улучшение производительности.
                        <br />
                        3.Вывод проекта в интернет.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 mb-md-0">
                  <div class="icon-box-s2 s2 border-s1 bg bg5 text-center">
                    <div class="icon-main">
                      <span class="flaticon-report-1"></span>
                    </div>
                    <div class="content-box">
                      <h5><a href="it-services">IT Консутирование</a></h5>
                      <p style="text-align: left;">
                        1.Подберем лучшее решения для вас.
                        <br />
                        2.Поможем вам сориентироваться.
                        <br />
                        3.Расскажем всё за и против.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="icon-box-s2 s2 border-s1 bg bg6 text-center">
                    <div class="icon-main">
                      <span class="flaticon-best"></span>
                    </div>
                    <div class="content-box">
                      <h5><a href="it-services">Выделенные ресурсы</a></h5>
                      <p style="text-align: left;">
                        1.Аренда серверов.
                        <br />
                        2.Разработаем скрипты автоматизации.
                        <br />
                        3.Поддержка вашего ресурса.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section class="service-pricing">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="ot-heading">
                  <span>// Поддержка ваших проектов</span>
                  <h2 class="main-heading">Гибкие тарифные планы</h2>
                </div>
                <div class="space-5"></div>
                <p>
                  Выберите подходящий план для поддержания вашего проекта. 
                  Преимущества в том, что при поломки проекта
                  <br />
                  мы оперативно возобновляем и востанавливаем проект.
                </p>
                <div class="space-20"></div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="ot-pricing-table">
                  <div class="icon-main">
                    <span class="flaticon-tablet"></span>
                  </div>
                  <div class="inner-table">
                    <h4 class="title-table">Базовый</h4>
                    <h2>
                      <sup>$</sup>
                      129.99
                    </h2>
                    <span>Ежемесячный пакет</span>
                    <div class="details">
                      <ul>
                        <li class="active">Веб Консалтинг</li>
                        <li class="active">24/7 Мониторинг систем</li>
                        <li class="active">Резервное копирование</li>
                        <li>Управление безопасностью</li>
                        <li>Оптимизация узких мест</li>
                      </ul>
                    </div>
                    <a href="#" class="octf-btn">Приобрести</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="ot-pricing-table">
                  <div class="icon-main">
                    <span class="flaticon-report"></span>
                  </div>
                  <div class="inner-table">
                    <h4 class="title-table">Оптимальный</h4>
                    <h2>
                      <sup>$</sup>
                      159.99
                    </h2>
                    <span>Ежемесячный пакет</span>
                    <div class="details">
                      <ul>
                        <li class="active">Веб Консалтинг</li>
                        <li class="active">24/7 Мониторинг систем</li>
                        <li class="active">Резервное копирование</li>
                        <li class="active">Управление безопасностью</li>
                        <li>Оптимизация узких мест</li>
                      </ul>
                    </div>
                    <a href="#" class="octf-btn">Приобрести</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="ot-pricing-table">
                  <div class="icon-main"><span class="flaticon-ui"></span></div>
                  <div class="inner-table">
                    <h4 class="title-table">Премиум</h4>
                    <h2>
                      <sup>$</sup>
                      189.99
                    </h2>
                    <span>Ежемесячный пакет</span>
                    <div class="details">
                      <ul>
                        <li class="active">Веб Консалтинг</li>
                        <li class="active">24/7 Мониторинг систем</li>
                        <li class="active">Резервное копирование</li>
                        <li class="active">Управление безопасностью</li>
                        <li class="active">Оптимизация узких мест</li>
                      </ul>
                    </div>
                    <a href="#" class="octf-btn">Приобрести</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section-consultation">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>
                  // Напишите нам! Мы ответить на все ваши вопросы
                </p>
                <h2>НУЖНА КОНСУЛЬТАЦИЯ?</h2>
                <div class="ot-button">
                  <a href="contact" class="octf-btn octf-btn-primary">
                    Связаться
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

      <footer id="site-footer" class="site-footer footer-v2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="images/logo-light.svg" alt="" />
            </div>
          </div>
          <div class="space-60"></div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-world-globe"></i></div>
                <p>Наб. реки Мойки, 22, Санкт-Петербург</p>
                <h6>Наш Адрес</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-envelope"></i></div>
                <p>prorazrab@inbox.ru</p>
                <h6>Наша Почта</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-phone-1"></i></div>
                <p>+7 902 202 45-46</p>
                <h6>Наш Телефон</h6>
              </div>
            </div>
          </div>
          <div class="space-65"></div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-menu">
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="it-services">Услуги</a></li>
                  <li><a href="portfolio">Проекты</a></li>
                  <li><a href="blog">Блог</a></li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
              <div class="space-20"></div>
              <p class="copyright-text v2">
                Copyright © 2020 ProRazrab by ThemeModern. All Rights Reserved.
              </p>
              <div class="space-26"></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- #site-footer -->
    </div>
    <!-- #page -->
    <a id="back-to-top" href="#" class="show">
      <i class="flaticon-up-arrow"></i>
    </a>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    <script src="/js/royal_preloader.min.js"></script>
    <script>
      window.jQuery = window.$ = jQuery
      ;(function ($) {
        'use strict'
        //Preloader
        Royal_Preloader.config({
          mode: 'logo',
          logo: '/images/logo.svg',
          logo_size: [160, 75],
          showProgress: true,
          showPercentage: true,
          text_colour: '#000000',
          background: '#ffffff',
        })
      })(jQuery)
    </script>
  </body>
</html>
