<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>ProRazrab</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
  </head>

  <body class="royal_preloader">
    <div id="page" class="site">
      <header
        style="position: relative; background: #0f0a32;"
        id="site-header"
        class="site-header header-overlay sticky-header header-style-2 header-fullwidth"
      >
        <!-- Main Header start -->
        <div class="header-topbar">
          <div class="octf-area-wrap">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <ul class="topbar-info">
                    <li>
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:prorazrab@mail.net">
                        prorazrab@inbox.ru
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-clock"></i>
                      Пн - Сб 8:00 - 19:00
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 text-right">
                  <div class="topbar-right">
                    <ul class="extra-text">
                      <li>
                        Разработка веб приложений По приемлемым ценам !
                        <a href="faq">Цены!</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="octf-main-header">
          <div class="octf-area-wrap">
            <div class="container-fluid octf-mainbar-container">
              <div class="octf-mainbar">
                <div class="octf-mainbar-row octf-row">
                  <div class="octf-col logo-col">
                    <div id="site-logo" class="site-logo">
                      <a href="/">
                        <img
                          src="images/logo-light.svg"
                          alt="prorazrab"
                          class=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="octf-col menu-col">
                    <nav id="site-navigation" class="main-navigation">
                      <ul class="menu nav-style-2">
                        <li>
                          <a href="/">Главная</a>
                        </li>
                        <li
                          class="menu-item-has-children current-menu-item current-menu-ancestor"
                        >
                          <a href="#">Разработка</a>
                          <ul class="sub-menu">
                            <li><a href="it-services">It Услуги</a></li>
                            <li>
                              <a href="web-development">Web Разработка</a>
                            </li>
                            <li class="current-menu-item">
                              <a href="mobile-development">
                                Mobile Разработка
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="faq">Ценообразование</a></li>
                        <li><a href="portfolio">Проекты</a></li>
                        <li><a href="blog">Блог</a></li>
                        <li><a href="contact">Контакты</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="octf-col cta-col text-right">
                    <!-- Call To Action -->
                    <div class="octf-btn-cta hstyle-2">
                      <div class="octf-header-module">
                        <div class="btn-cta-group contact-header">
                          <i class="fas fa-phone"></i>
                          <div class="cinfo-header">
                            <span>Задайте Вопрос?</span>
                            <span class="main-text">
                              <a href="tel:+7 902 202 45-46">
                                +7 902 202 45-46
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="octf-header-module">
                        <div class="btn-cta-group btn-cta-header">
                          <a
                            class="octf-btn octf-btn-third"
                            href="contact"
                          >
                            Обратная Связь
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header_mobile">
          <div class="container">
            <div class="mlogo_wrapper clearfix">
              <div class="mobile_logo">
                <a href="/">
                  <img src="images/logo.svg" alt="prorazrab" />
                </a>
              </div>
              <div id="mmenu_toggle">
                <button></button>
              </div>
            </div>
            <div class="mmenu_wrapper">
              <div class="mobile_nav collapse">
                <ul id="menu-main-menu" class="mobile_mainmenu">
                  <li>
                    <a href="/">Главная</a>
                  </li>
                  <li
                    class="menu-item-has-children current-menu-item current-menu-ancestor"
                  >
                    <a href="#">Разработка</a>
                    <ul class="sub-menu">
                      <li><a href="it-services">IT Услуги</a></li>
                      <li">
                        <a href="web-development">Web Разработка</a>
                      </li>
                      <li class="current-menu-item">
                        <a href="mobile-development">Mobile Разработка</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="faq">Ценообразование</a></li>
                  <li class="menu-item-has-children">
                    <a href="portfolio">Проекты</a>
                  </li>
                  <li>
                    <a href="blog">Блог</a>
                  </li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div id="content" class="site-content">
        <div class="page-header flex-middle">
          <div class="container">
            <div class="inner flex-middle">
              <h1 class="page-title">Mobile Разработка</h1>
              <ul id="breadcrumbs" class="breadcrumbs none-style">
                <li><a href="/">Главная</a></li>
                <li><a href="web-development">IT Услуги</a></li>
                <li class="active">Mobile Разработка</li>
              </ul>
            </div>
          </div>
        </div>
        <section class="mobile-app">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="ot-heading">
                  <span>// ПРЕИМУЩЕСТВА ДЛЯ БИЗНЕСА</span>
                  <h2 class="main-heading">
                    Преимущества мобильных приложений
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 align-self-center">
                <div class="icon-box-s2 s3 app-benefits-left">
                  <div class="icon-main">
                    <span class="flaticon-laptop"></span>
                  </div>
                  <div class="content-box">
                    <h5>Программное Обеспечение как Сервис</h5>
                    <p>
                      51% пользователей смартфонов открыли для себя новую
                      компанию или продукт.
                    </p>
                  </div>
                </div>
                <div class="icon-box-s2 s3 app-benefits-left ml-0 mr-0">
                  <div class="icon-main">
                    <span class="flaticon-seo-and-web"></span>
                  </div>
                  <div class="content-box">
                    <h5>Интернет Вещей</h5>
                    <p>
                      Перенесите свои продукты SaaS на мобильные устройства.
                      Компании с профессиональными мобильными устройствами.
                    </p>
                  </div>
                </div>
                <div class="icon-box-s2 s3 app-benefits-left">
                  <div class="icon-main">
                    <span class="flaticon-process"></span>
                  </div>
                  <div class="content-box">
                    <h5>Азартные Игры &amp; и Ставки</h5>
                    <p>
                      Разработайте специальное мобильное приложение, чтобы
                      преуспеть на мобильном рынке..
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 align-self-center">
                <div class="app-benefits-img text-center">
                  <img src="images/app-watch-1.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-4 align-self-center">
                <div class="icon-box-s2 s1 app-benefits-right">
                  <div class="icon-main">
                    <span class="flaticon-data-1"></span>
                  </div>
                  <div class="content-box">
                    <h5>Социальные Медиа</h5>
                    <p>
                      80% времени пользователи проводят в социальных сетях со
                      своих мобильных устройств.
                    </p>
                  </div>
                </div>
                <div class="icon-box-s2 s1 app-benefits-right ml-0 mr-0">
                  <div class="icon-main">
                    <span class="flaticon-code-2"></span>
                  </div>
                  <div class="content-box">
                    <h5>Управление Бизнесом</h5>
                    <p>
                      65% торговых представителей выполнили свои квоты за счет
                      внедрения.
                    </p>
                  </div>
                </div>
                <div class="icon-box-s2 s1 app-benefits-right">
                  <div class="icon-main">
                    <span class="flaticon-report"></span>
                  </div>
                  <div class="content-box">
                    <h5>Торговые Системы</h5>
                    <p>
                      Мы предоставляем первоклассные услуги по разработке
                      мобильных приложений для брокеров.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="counter-v5">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-3 col-lg-6 no-padding">
                <img src="images/fun-fact1.jpg" alt="" class="img-full" />
              </div>
              <div class="col-xl-3 col-lg-6 no-padding align-self-center">
                <div class="ot-counter2">
                  <div class="s-num">
                    <span class="num" data-to="15" data-time="2000">0</span>
                    <span>+</span>
                  </div>
                  <h6>Наше Время и Опыт</h6>
                  <p>
                    Мы всегда рады помочь вам, с нами вы сможете сделать
                    качественно и быстро, подберем вам технологию и
                  </p>
                  <a href="about-us" class="btn-details">
                    <i class="flaticon-right-arrow-1"></i>
                    НАПИСАТЬ
                  </a>
                  <div class="b-num">15+</div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 order-lg-last no-padding">
                <img src="images/fun-fact2.jpg" alt="" class="img-full" />
              </div>
              <div
                class="col-xl-3 col-lg-6 no-padding order-xl-last align-self-center"
              >
                <div class="ot-counter2">
                  <div class="s-num">
                    <span class="num" data-to="23" data-time="2000">0</span>
                    <span>k</span>
                  </div>
                  <h6>Аренда Серверов</h6>
                  <p>
                    Ваш проект будет храниться в целостности и сохранности, т.к.
                    все обслуживается во время и проводиться ревизия
                    оборудования...
                  </p>
                  <a href="about-us" class="btn-details">
                    <i class="flaticon-right-arrow-1"></i>
                    НАПИСАТЬ
                  </a>
                  <div class="b-num">23k</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="app-offer">
          <div class="overlay overlay-image"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="images/apple-w.png" alt="" />
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="right-about-v4">
                  <div class="ot-heading">
                    <span>// О КОМПАНИИ</span>
                    <h2 class="main-heading">
                      Ваш Партнер по
                      <br />
                      Программным Инновациям
                    </h2>
                  </div>
                  <div class="space-5"></div>
                  <p>
                    prostorazrab является партнером для многих компаний и
                    предприятий, страдающих малыми и средними, и
                    технологическими заболеваниями. Мы помогаем предприятию
                    повысить свой счет за счет разработки программного
                    обеспечения, обеспечение качества и консультационных услуг.
                  </p>
                  <p>
                    <em class="text-dark">
                      <strong>
                        Мы можем помочь поддерживать и модернизировать вашу
                        ИТ-инфраструктуру и решать различные проблемы, связанные
                        с инфраструктурой, с которыми может столкнуться бизнес.
                      </strong>
                    </em>
                  </p>
                  <div class="video-popup style-2">
                    <div class="btn-inner">
                      <a
                        class="btn-play"
                        href="https://www.youtube.com/watch?v=lfDZJqSrIuk"
                      >
                        <i class="flaticon-play"></i>
                        <span class="circle-1"></span>
                        <span class="circle-2"></span>
                      </a>
                    </div>
                    <span>ВИДЕО</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-industris">
            <div class="container">
                <div class="col-md-12 text-center">
                    <div class="ot-heading">
                        <span>// ОТРАСЛИ БИЗНЕСА</span>
                        <h2 class="main-heading">Индустрии Бизнеса <br>Которые Обслуживаем</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="ot-industries">
                    <div class="owl-carousel owl-theme industries-inner ot-industries-slider owl-loaded owl-drag">
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1946px, 0px, 0px); transition: all 0s ease 0s; width: 8514px; padding-left: 365px; padding-right: 365px;"><div class="owl-item cloned" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/t-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Информационные Технологии</h6>
                                    <div class="itext">
                                      Внедрение IT – это процесс информатизации общества. Во время этого процесса происходит обучение специалистов разных сфер. Владение информацией, возможность ее переработки и обмена, помогает значительно сократить финансовые расходы.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/r-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Торговля &amp; Распространение</h6>
                                    <div class="itext">
                                        В силу данных верят практически все. По наблюдениям, ритейлеры чаще всего используют интеллектуальный анализ для получения информации о поведении и предпочтениях клиентов, что позволяет им адаптировать свои предложения.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/b-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Бизнес &amp; Финансы</h6>
                                    <div class="itext">
                                        Краткосрочные финансовые операции, финансовое планирование контроль деятельности фирмы. К ним относятся анализ финансовых показателей, планирование прибыли , финансовое прогнозирование и составление бюджета.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/g-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Игры &amp; Развлечения</h6>
                                    <div class="itext">
                                        В настоящее время игры являются любимым видом развлечения в мире, поскольку в прошлом году игровая индустрия принесла больше доходов, чем телевидение, фильмы и музыка. В то время как другие виды развлечений переживают спад.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/t-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Информационные Технологии</h6>
                                    <div class="itext">
                                      Внедрение IT – это процесс информатизации общества. Во время этого процесса происходит обучение специалистов разных сфер. Владение информацией, возможность ее переработки и обмена, помогает значительно сократить финансовые расходы.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/r-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Торговля &amp; Распространение</h6>
                                    <div class="itext">
                                        В силу данных верят практически все. По наблюдениям, ритейлеры чаще всего используют интеллектуальный анализ для получения информации о поведении и предпочтениях клиентов, что позволяет им адаптировать свои предложения.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/b-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Бизнес &amp; Финансы</h6>
                                    <div class="itext">
                                        Краткосрочные финансовые операции, финансовое планирование контроль деятельности фирмы. К ним относятся анализ финансовых показателей, планирование прибыли , финансовое прогнозирование и составление бюджета.
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 973px;"><div class="indus-item">
                            <div class="item-inner">
                                <div class="overlay"></div>
                                <div class="i-image">
                                    <img src="images/g-image.png" alt="">
                                </div>
                                <div class="iinfo">
                                    <h6>Игры &amp; Развлечения</h6>
                                    <div class="itext">
                                        В настоящее время игры являются любимым видом развлечения в мире, поскольку в прошлом году игровая индустрия принесла больше доходов, чем телевидение, фильмы и музыка. В то время как другие виды развлечений переживают спад.
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </section>
      </div>

      <footer id="site-footer" class="site-footer footer-v2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="images/logo-light.svg" alt="" />
            </div>
          </div>
          <div class="space-60"></div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-world-globe"></i></div>
                <p>Наб. реки Мойки, 22, Санкт-Петербург</p>
                <h6>Наш Адрес</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-envelope"></i></div>
                <p>prorazrab@inbox.ru</p>
                <h6>Наша Почта</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-phone-1"></i></div>
                <p>+7 902 202 45-46</p>
                <h6>Наш Телефон</h6>
              </div>
            </div>
          </div>
          <div class="space-65"></div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-menu">
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="it-services">Услуги</a></li>
                  <li><a href="portfolio">Проекты</a></li>
                  <li><a href="blog">Блог</a></li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
              <div class="space-20"></div>
              <p class="copyright-text v2">
                Copyright © 2020 ProRazrab by ThemeModern. All Rights Reserved.
              </p>
              <div class="space-26"></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- #site-footer -->
    </div>
    <!-- #page -->
    <a id="back-to-top" href="#" class="show">
      <i class="flaticon-up-arrow"></i>
    </a>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    <script src="/js/royal_preloader.min.js"></script>
    <script>
      window.jQuery = window.$ = jQuery
      ;(function ($) {
        'use strict'
        //Preloader
        Royal_Preloader.config({
          mode: 'logo',
          logo: '/images/logo.svg',
          logo_size: [160, 75],
          showProgress: true,
          showPercentage: true,
          text_colour: '#000000',
          background: '#ffffff',
        })
      })(jQuery)
    </script>
  </body>
</html>
